

<%#= form_for current_user.relationships.find_by_followed_id(@user),
             :html => { :method => :delete },
             :remote => true do |f| %>
    <!--<div class="actions"><%#= f.submit "Unsubscibe",class: "btn btn-small btn-primary" %></div>-->
<%# end %>

<%= form_for current_user.relationships.find_by_followed_id(@user),
             :html => { :method => :delete }  do |f| %>
    <div class="actions"><%= f.submit "Unsubscribe", class: "btn btn-small btn-primary"%></div>
<% end %>
