
<div class="well big-well span8">

  <div>
    <!--<%#= image_tag "facebook-login.png" %>-->
    <!--<a href="/auth"><img src="facebook-login.png"/></a>-->
  </div>
  <% @users.each do |user| %>
      <div class="border">
        <%= gravatar_for user, :size => 30 %>

        <%= link_to user.name, user %>
         <br>
      </div>
  <% end %>

</div>

<%= will_paginate @users %>



