
<div class="well big-well span8">

  <div>
    <!--<%#= image_tag "facebook-login.png" %>-->
    <!--<a href="/auth"><img src="facebook-login.png"/></a>-->
  </div>
  <% @users.each do |user| %>
      <div class="border">
        <nobr>
        <div class ="following">
          <% if !user.image = nil %>
          <%= image_tag user.image, :class=>"resize_image" %>
          <% end %>
          <%= link_to user.name, user %>

          <%#= gravatar_for @user %>
        </div>

        </nobr>
      </div>
  <% end %>

</div>

<%= will_paginate @users %>



