<div class="well big-well span8">
  <h2>User Details</h2>
  Name : <%= @user.name %><br>
  Email Address : <%= @user.email %>

  <h2>Posts of User</h2>
  <% @posts.each do |post| %>
      <%= link_to post.content ,post_path(post) %> <br>
  <% end %>
</div>

