<h2>Add a comment:</h2>
<%= form_for(@comment, :url => create_comment_posts_path, :html => { :method => :post, :class => 'form-horizontal' }) do |f1| %>
    <div class="field" >
      <%= f1.label :comment %><br />
      <%= f1.text_field :body %>
    </div>   <br>
    <div class="actions">
      <%= f1.submit "Submit", class: "btn btn-large btn-primary" %>
    </div>
<% end %>