.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}

.control-group{
  text-justify: center;

}


ul#user_sidebar {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    &:last-child {
      border-bottom: 0px solid #ccc;
    }
  }
}